* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #808080d1;
    color: white;
}

#select-genre,
#select-order {
    max-width: 1000px;
    margin: 20px auto;
    text-align: center;
}

select {
    width: 200px;
    height: 30px;
    border-radius: 5px;
    outline: none;
}

#container-albums {
    display: flex;
    flex-wrap: wrap;
    max-width: 1000px;
    margin: auto;
}

.album {
    height: 300px;
    width: 200px;
    margin: 25px;
    border-radius: 8px;
    overflow: hidden;
    background-color: #000000ad;
    transition: all 1s;
    cursor: pointer;
}

.album:hover {
    transform: scale(1.1);
    box-shadow: 5px 5px 30px 2px #000000;
}

.album-cover {
    height: 200px;
}

.album-cover img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.album-info {
    display: flex;
    flex-direction: column;
    height: 100px;
    padding: 0 10px;
    border-top: 3px solid grey;
}

.album-info > div {
    flex-grow: 1;
    display: flex;
    align-items: center;
}
