* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: grey;
    color: white;
}

#container-albums {
    display: flex;
    flex-wrap: wrap;
    max-width: 1000px;
    margin: auto;
}

.album {
    height: 300px;
    width: 200px;
    margin: 25px;
    background-color: black;
}

.album-cover {
    height: 200px;
    border: 2px solid white;
}

.album-cover img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.album-info {
    height: 100px;
}

.album-info > div {
    height: calc(100% / 3);
    line-height: calc(100px / 3);
}
